Client/Service References/ClientService/DBConnection.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DBConnection" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IDBConnection_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DBService" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Client" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDBConnection_signUpUser_InputMessage">
    <wsdl:part name="parameters" element="tns:signUpUser" />
  </wsdl:message>
  <wsdl:message name="IDBConnection_signUpUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:signUpUserResponse" />
  </wsdl:message>
  <wsdl:message name="IDBConnection_SignInUser_InputMessage">
    <wsdl:part name="parameters" element="tns:SignInUser" />
  </wsdl:message>
  <wsdl:message name="IDBConnection_SignInUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:SignInUserResponse" />
  </wsdl:message>
  <wsdl:message name="IDBConnection_createCrossword_InputMessage">
    <wsdl:part name="parameters" element="tns:createCrossword" />
  </wsdl:message>
  <wsdl:message name="IDBConnection_createCrossword_OutputMessage">
    <wsdl:part name="parameters" element="tns:createCrosswordResponse" />
  </wsdl:message>
  <wsdl:message name="IDBConnection_getThemes_InputMessage">
    <wsdl:part name="parameters" element="tns:getThemes" />
  </wsdl:message>
  <wsdl:message name="IDBConnection_getThemes_OutputMessage">
    <wsdl:part name="parameters" element="tns:getThemesResponse" />
  </wsdl:message>
  <wsdl:message name="IDBConnection_editCrossword_InputMessage">
    <wsdl:part name="parameters" element="tns:editCrossword" />
  </wsdl:message>
  <wsdl:message name="IDBConnection_editCrossword_OutputMessage">
    <wsdl:part name="parameters" element="tns:editCrosswordResponse" />
  </wsdl:message>
  <wsdl:message name="IDBConnection_insertQuestions_InputMessage">
    <wsdl:part name="parameters" element="tns:insertQuestions" />
  </wsdl:message>
  <wsdl:message name="IDBConnection_insertQuestions_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertQuestionsResponse" />
  </wsdl:message>
  <wsdl:message name="IDBConnection_getCrosswordQuestions_InputMessage">
    <wsdl:part name="parameters" element="tns:getCrosswordQuestions" />
  </wsdl:message>
  <wsdl:message name="IDBConnection_getCrosswordQuestions_OutputMessage">
    <wsdl:part name="parameters" element="tns:getCrosswordQuestionsResponse" />
  </wsdl:message>
  <wsdl:message name="IDBConnection_filterCrosswordsByThemeName_InputMessage">
    <wsdl:part name="parameters" element="tns:filterCrosswordsByThemeName" />
  </wsdl:message>
  <wsdl:message name="IDBConnection_filterCrosswordsByThemeName_OutputMessage">
    <wsdl:part name="parameters" element="tns:filterCrosswordsByThemeNameResponse" />
  </wsdl:message>
  <wsdl:message name="IDBConnection_countFilteredCrosswords_InputMessage">
    <wsdl:part name="parameters" element="tns:countFilteredCrosswords" />
  </wsdl:message>
  <wsdl:message name="IDBConnection_countFilteredCrosswords_OutputMessage">
    <wsdl:part name="parameters" element="tns:countFilteredCrosswordsResponse" />
  </wsdl:message>
  <wsdl:message name="IDBConnection_updateRathing_InputMessage">
    <wsdl:part name="parameters" element="tns:updateRathing" />
  </wsdl:message>
  <wsdl:message name="IDBConnection_updateRathing_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateRathingResponse" />
  </wsdl:message>
  <wsdl:message name="IDBConnection_saveCoins_InputMessage">
    <wsdl:part name="parameters" element="tns:saveCoins" />
  </wsdl:message>
  <wsdl:message name="IDBConnection_saveCoins_OutputMessage">
    <wsdl:part name="parameters" element="tns:saveCoinsResponse" />
  </wsdl:message>
  <wsdl:message name="IDBConnection_deleteCrosswordById_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteCrosswordById" />
  </wsdl:message>
  <wsdl:message name="IDBConnection_deleteCrosswordById_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteCrosswordByIdResponse" />
  </wsdl:message>
  <wsdl:portType name="IDBConnection">
    <wsdl:operation name="signUpUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IDBConnection/signUpUser" message="tns:IDBConnection_signUpUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDBConnection/signUpUserResponse" message="tns:IDBConnection_signUpUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SignInUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IDBConnection/SignInUser" message="tns:IDBConnection_SignInUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDBConnection/SignInUserResponse" message="tns:IDBConnection_SignInUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="createCrossword">
      <wsdl:input wsaw:Action="http://tempuri.org/IDBConnection/createCrossword" message="tns:IDBConnection_createCrossword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDBConnection/createCrosswordResponse" message="tns:IDBConnection_createCrossword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getThemes">
      <wsdl:input wsaw:Action="http://tempuri.org/IDBConnection/getThemes" message="tns:IDBConnection_getThemes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDBConnection/getThemesResponse" message="tns:IDBConnection_getThemes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="editCrossword">
      <wsdl:input wsaw:Action="http://tempuri.org/IDBConnection/editCrossword" message="tns:IDBConnection_editCrossword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDBConnection/editCrosswordResponse" message="tns:IDBConnection_editCrossword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insertQuestions">
      <wsdl:input wsaw:Action="http://tempuri.org/IDBConnection/insertQuestions" message="tns:IDBConnection_insertQuestions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDBConnection/insertQuestionsResponse" message="tns:IDBConnection_insertQuestions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getCrosswordQuestions">
      <wsdl:input wsaw:Action="http://tempuri.org/IDBConnection/getCrosswordQuestions" message="tns:IDBConnection_getCrosswordQuestions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDBConnection/getCrosswordQuestionsResponse" message="tns:IDBConnection_getCrosswordQuestions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="filterCrosswordsByThemeName">
      <wsdl:input wsaw:Action="http://tempuri.org/IDBConnection/filterCrosswordsByThemeName" message="tns:IDBConnection_filterCrosswordsByThemeName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDBConnection/filterCrosswordsByThemeNameResponse" message="tns:IDBConnection_filterCrosswordsByThemeName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="countFilteredCrosswords">
      <wsdl:input wsaw:Action="http://tempuri.org/IDBConnection/countFilteredCrosswords" message="tns:IDBConnection_countFilteredCrosswords_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDBConnection/countFilteredCrosswordsResponse" message="tns:IDBConnection_countFilteredCrosswords_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateRathing">
      <wsdl:input wsaw:Action="http://tempuri.org/IDBConnection/updateRathing" message="tns:IDBConnection_updateRathing_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDBConnection/updateRathingResponse" message="tns:IDBConnection_updateRathing_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="saveCoins">
      <wsdl:input wsaw:Action="http://tempuri.org/IDBConnection/saveCoins" message="tns:IDBConnection_saveCoins_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDBConnection/saveCoinsResponse" message="tns:IDBConnection_saveCoins_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteCrosswordById">
      <wsdl:input wsaw:Action="http://tempuri.org/IDBConnection/deleteCrosswordById" message="tns:IDBConnection_deleteCrosswordById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDBConnection/deleteCrosswordByIdResponse" message="tns:IDBConnection_deleteCrosswordById_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDBConnection" type="tns:IDBConnection">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="signUpUser">
      <soap:operation soapAction="http://tempuri.org/IDBConnection/signUpUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SignInUser">
      <soap:operation soapAction="http://tempuri.org/IDBConnection/SignInUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createCrossword">
      <soap:operation soapAction="http://tempuri.org/IDBConnection/createCrossword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getThemes">
      <soap:operation soapAction="http://tempuri.org/IDBConnection/getThemes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editCrossword">
      <soap:operation soapAction="http://tempuri.org/IDBConnection/editCrossword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertQuestions">
      <soap:operation soapAction="http://tempuri.org/IDBConnection/insertQuestions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCrosswordQuestions">
      <soap:operation soapAction="http://tempuri.org/IDBConnection/getCrosswordQuestions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="filterCrosswordsByThemeName">
      <soap:operation soapAction="http://tempuri.org/IDBConnection/filterCrosswordsByThemeName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="countFilteredCrosswords">
      <soap:operation soapAction="http://tempuri.org/IDBConnection/countFilteredCrosswords" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateRathing">
      <soap:operation soapAction="http://tempuri.org/IDBConnection/updateRathing" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="saveCoins">
      <soap:operation soapAction="http://tempuri.org/IDBConnection/saveCoins" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteCrosswordById">
      <soap:operation soapAction="http://tempuri.org/IDBConnection/deleteCrosswordById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IDBConnection" type="tns:IDBConnection">
    <wsp:PolicyReference URI="#NetTcpBinding_IDBConnection_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="signUpUser">
      <soap12:operation soapAction="http://tempuri.org/IDBConnection/signUpUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SignInUser">
      <soap12:operation soapAction="http://tempuri.org/IDBConnection/SignInUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createCrossword">
      <soap12:operation soapAction="http://tempuri.org/IDBConnection/createCrossword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getThemes">
      <soap12:operation soapAction="http://tempuri.org/IDBConnection/getThemes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editCrossword">
      <soap12:operation soapAction="http://tempuri.org/IDBConnection/editCrossword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertQuestions">
      <soap12:operation soapAction="http://tempuri.org/IDBConnection/insertQuestions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCrosswordQuestions">
      <soap12:operation soapAction="http://tempuri.org/IDBConnection/getCrosswordQuestions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="filterCrosswordsByThemeName">
      <soap12:operation soapAction="http://tempuri.org/IDBConnection/filterCrosswordsByThemeName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="countFilteredCrosswords">
      <soap12:operation soapAction="http://tempuri.org/IDBConnection/countFilteredCrosswords" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateRathing">
      <soap12:operation soapAction="http://tempuri.org/IDBConnection/updateRathing" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="saveCoins">
      <soap12:operation soapAction="http://tempuri.org/IDBConnection/saveCoins" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteCrosswordById">
      <soap12:operation soapAction="http://tempuri.org/IDBConnection/deleteCrosswordById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DBConnection">
    <wsdl:port name="BasicHttpBinding_IDBConnection" binding="tns:BasicHttpBinding_IDBConnection">
      <soap:address location="http://localhost:8080/DBConnection" />
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IDBConnection" binding="tns:NetTcpBinding_IDBConnection">
      <soap12:address location="net.tcp://localhost:45617/DBConnection" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:45617/DBConnection</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>DESKTOP-PADSUVV\lenovo</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>