Client/Service References/ClientService/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DBService" />
  <xs:import schemaLocation="http://localhost:8080/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:8080/?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Client" />
  <xs:element name="signUpUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="signUpUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="signUpUserResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SignInUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SignInUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DBService" minOccurs="0" name="SignInUserResult" nillable="true" type="q1:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createCrossword">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DBService" minOccurs="0" name="cw" nillable="true" type="q2:Crossword" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createCrosswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="createCrosswordResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getThemes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getThemesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getThemesResult" nillable="true" type="q3:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editCrossword">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DBService" minOccurs="0" name="crossword" nillable="true" type="q4:Crossword" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editCrosswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="editCrosswordResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertQuestions">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/DBService" minOccurs="0" name="items" nillable="true" type="q5:ArrayOfQuestionAnswer" />
        <xs:element minOccurs="0" name="owner_id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertQuestionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insertQuestionsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCrosswordQuestions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="crosswirdID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCrosswordQuestionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/DBService" minOccurs="0" name="getCrosswordQuestionsResult" nillable="true" type="q6:ArrayOfQuestionAnswer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="filterCrosswordsByThemeName">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Client" minOccurs="0" name="filter" nillable="true" type="q7:FilterRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="filterCrosswordsByThemeNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/DBService" minOccurs="0" name="filterCrosswordsByThemeNameResult" nillable="true" type="q8:ArrayOfCrossword" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="countFilteredCrosswords">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Client" minOccurs="0" name="filter" nillable="true" type="q9:FilterRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="countFilteredCrosswordsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="countFilteredCrosswordsResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateRathing">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="crosswordId" type="xs:long" />
        <xs:element minOccurs="0" name="rathing" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateRathingResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="saveCoins">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uid" type="xs:long" />
        <xs:element minOccurs="0" name="coins" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="saveCoinsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteCrosswordById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteCrosswordByIdResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>