Client/Service References/ClientService/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DBService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DBService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element name="_x003C_ID_x003E_k__BackingField" type="xs:long" />
      <xs:element name="_x003C_Login_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Name_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="ArrayOfCrossword">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Crossword" nillable="true" type="tns:Crossword" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCrossword" nillable="true" type="tns:ArrayOfCrossword" />
  <xs:complexType name="Crossword">
    <xs:sequence>
      <xs:element name="_x003C_ID_x003E_k__BackingField" type="xs:long" />
      <xs:element name="_x003C_Name_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_OwnerID_x003E_k__BackingField" type="xs:long" />
      <xs:element name="_x003C_OwnerLogin_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Theme_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_questions_x003E_k__BackingField" nillable="true" type="tns:ArrayOfQuestionAnswer" />
      <xs:element name="theme" type="tns:Crossword.ThemeE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Crossword" nillable="true" type="tns:Crossword" />
  <xs:complexType name="ArrayOfQuestionAnswer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="QuestionAnswer" nillable="true" type="tns:QuestionAnswer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfQuestionAnswer" nillable="true" type="tns:ArrayOfQuestionAnswer" />
  <xs:complexType name="QuestionAnswer">
    <xs:sequence>
      <xs:element name="_x003C_Answer_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Question_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QuestionAnswer" nillable="true" type="tns:QuestionAnswer" />
  <xs:simpleType name="Crossword.ThemeE">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Sport" />
      <xs:enumeration value="Animals" />
      <xs:enumeration value="Other" />
      <xs:enumeration value="Auto" />
      <xs:enumeration value="Georaphy" />
      <xs:enumeration value="History" />
      <xs:enumeration value="Music" />
      <xs:enumeration value="Informatic" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Crossword.ThemeE" nillable="true" type="tns:Crossword.ThemeE" />
</xs:schema>